html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

body,
#root {
  height: 100vh;
  width: 100vw;
  background: #343a40;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.full-height {
  min-height: 100vh;
}

.full-height-80 {
  min-height: 80vh;
}

.container-center {
  align-content: center;
  align-items: center;
  display: flex;
}

.bg-black {
  background: #000;
}

.tab-custom,
.tab-custom:hover {
  color: white
}

.btn-circle-float {
  width: 10vh;
  height: 10vh;
  padding: 0;
  margin: 40px;
  border-radius: 5vh;
  font-size: 5vh;
  line-height: 1.33;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

#intro {
  background: url(../assets/11.png) no-repeat center center fixed;
}

#contact {
  background: url(../assets/12.png) no-repeat center center fixed;
}

#latest {
  background: url(../assets/13.png) no-repeat center center fixed;
}

#login,
#register {
  background: url(../assets/13.png) no-repeat center center fixed;
}

#event {
  background: url(../assets/21.png) no-repeat center center fixed;
}

#dashboard {
  background: url(../assets/21.png) no-repeat center center fixed;
}

.intro h2,
.intro h3 {
  color: #fff;
}

.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.4;
}

.parallex-img {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.social-links a {
  color: white;
}

.page-link {
  color: black;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: black;
  border-color: black;
}

.page-link:hover {
  color: rgb(34, 34, 34);
}

.event-list {
  background: #343a40;
  color: white;
}
